# Copyright 2021 The Khronos Group, Inc.
# SPDX-License-Identifier: Apache-2.0

# Github CI file for Vulkan Guide

name: CI

# Controls when the action will run.
on:
  # Triggers the workflow on push or manual dispatch
  push:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can
      # access it
      - uses: actions/checkout@v2
      - uses: actions/setup-ruby@v1
        with:
          ruby-version: '2.7'

      # Run awesome_bot checker
      # Apparently this has trouble parsing one wiki link with () in it, so added to whitelist
      - name: awesome_bot
        run: |
          gem install awesome_bot
          awesome_bot --allow-dupe chapters/*.adoc chapters/extensions/*.adoc --white-list https://www.youtube.com/,https://khr.io/slack,https://www.khronos.org/opengl/wiki/Interface_Block_
